<aside class="portfolio-card">

  <main class="main">
    <div class="inner">
    ---------------------------------------
      <h1 class="page-heading">自己紹介</h1>
    ---------------------------------------
    <div class="profiles">
      <div class="face">
          <%= image_tag "IMG_5978_Original.jpg", class:"myface" %>
      </div>
      <div class="profile">
          <div class="my__body">
            <h2 class="name">矢田理恵子(やたりえこ)</h2>
              <p class="content">・出身地　　：島根県出雲市</p>
              <p class="com">↪︎生粋の出雲人です！</p>
              <p class="content">・年齢　　　：30歳</p>
              <p class="com">↪︎立派な大人になれるよう精進していきます！</p>
              <p class="content">・好きなもの：ドラえもん</p>
              <p class="com">↪︎ドラえもんを開発するのが密かな夢です</p>
              <p class="content">・興味ある事：HTML,CSS,JavaScript</p>
              <p class="com">↪︎クオリティの高いwebページを見ると<br>webの内容よりもコードが気になります。<br>HTML,CSSとJavaScriptを自由自在に<br>使いこなせるようになりたいです！</p>
          </div>
      </div>
    </div>
  </main>


</aside>